---
import { Image } from 'astro:assets';
const certs = [
  { url: import('../assets/certs/cert1.png') },
  { url: import('../assets/certs/cert2.png') },
  { url: import('../assets/certs/cert3.png') },
  { url: import('../assets/certs/cert4.png') },
  { url: import('../assets/certs/cert5.png') },
  { url: import('../assets/certs/cert6.png') },
  { url: import('../assets/certs/cert7.png') },
  { url: import('../assets/certs/cert8.png') },
  { url: import('../assets/certs/cert9.png') },
];
---

<section class="container py-10 md:py-20">
  <h2 class="section-title text-center w-max sm:mx-auto mb-10">ДИПЛОМЫ И СЕРТИФИКАТЫ</h2>
  <div class="embla relative">
    <div class="embla__viewport">
      <div class="embla__container">
        {
          certs.map((review) => (
            <div class="embla__slide bg-[#F4F8F9] p-2">
              <Image src={review.url} alt="Отзыв" class="" quality={100} />
            </div>
          ))
        }
      </div>
      <button
        aria-label="previuos slide button"
        class="hidden embla__prev absolute -left-12 sm:-left-6 lg:-left-14 top-1/2 z-10 shrink-0 rounded-full bg-primary size-11 sm:grid place-items-start place-content-center">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 7L7.53516 1.46484M2 7L7.53516 12.5352M2 7H13.5" stroke="white" stroke-width="2"></path>
        </svg>
      </button>

      <button
        aria-label="next slide button"
        class="hidden embla__next absolute -right-12 sm:-right-6 lg:-right-14 top-1/2 z-10 shrink-0 rounded-full bg-primary size-11 sm:grid place-items-start place-content-center">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 7L6.46484 1.46484M12 7L6.46484 12.5352M12 7H0.5" stroke="white" stroke-width="2"></path>
        </svg>
      </button>
    </div>
  </div>
</section>

<style>
  .embla {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    align-items: flex-start;
    transition: height 0.2s;
    gap: 20px;
  }
  .embla__slide {
    flex: 1 0 auto;
    min-width: 0;
  }

  .embla button[disabled='disabled'] {
    opacity: 0.8;
  }

  @media screen and (max-width: 1140px) {
    .embla__slide {
      flex: 0 0 50%;
    }
  }
  @media screen and (max-width: 640px) {
    .embla__slide {
      flex: 0 0 80%;
    }
  }
</style>

<script>
  import '../components/embla/index';
</script>
