---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
const socials = [
  { title: 'instagram', link: 'https://www.instagram.com/aaavlasova/', label: 'aaavlasova' },
  { title: 'tg', link: 'https://t.me/aaavlasova', label: 'aaavlasova' },
];
---

<section class="container scroll-mt-10 flex flex-col justify-between md:flex-row py-10 md:py-20" id="contacts">
  <h2 class="section-title mb-5">КОНТАКТЫ</h2>
  <div class="flex flex-col justify-between mb-5 max-w-sm pt-2">
    <p class="mb-5 text-xl md:text-2xl font-light">Остались вопросы по курсам / цене / обучению или др.? <br /> Напишите мне</p>
    <div class="flex items-center gap-5">
      {
        socials.map((social) => (
          <a href={social.link} target="_blank" class="flex items-center gap-2 text-lg">
            <Icon name={social.title} size={26} />
            {social.label}
          </a>
        ))
      }
    </div>
    <div class="border-t border-black pt-5 mt-5 md:mt-auto flex flex-col gap-3">
      <p>Анна-Александра Александровна Власова</p>
      <span>ИНН 390506961318</span>
      <p>Электронная почта: <a href="mailto:annaalexandra04@gmail.com">annaalexandra04@gmail.com</a></p>
    </div>
  </div>
  <Image src={import('../assets/callback.png')} alt="contacts" class="sm:max-w-[400px]" />
</section>
